
.menu {
  display: block;
  z-index: 999999;
  background: #f8f8f8;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li a {
  display: block;
  padding: 12px 8px;
  color: #999;
  text-decoration: none;
  transition: .1s ease-in-out;
  transition-property: color,background-color;
}

.menu .submenu {
  position: absolute;
  z-index: 1020;
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}
.submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 200px;
  z-index: 9;
}
.submenu li {
  display: block;
}
.submenu li a {
  display: block;
  color: #999;
  padding: 5px 0;
  text-decoration: none;
}
.menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

.menu .submenu .submenu {
  position: absolute;
  left: 200px;
  top: 0px;
}
<<<<<<< HEAD

/*** OFFCANVAS   **/
/* .st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	perspective: 1000px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
  position: fixed; 
  visibility: hidden;
  top: 0;
  bottom: 0;
  left:0;
  z-index: 1000;
  color:#666;
  width: 270px;
  box-sizing: border-box;
  overflow-y: auto;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


.st-menu::after {
  position: fixed; 
  visibility: hidden;
  top: 0;
  bottom: 0;
  left:0;
	width: 100%;
  height: 100%;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
@media (min-width: 960px){
  .st-menu {
    width: 350px;
  }
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
  opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
} */


/* Effect 1: Slide in on top */ 
/* .st-effect-1.st-menu {
  background: #fff;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;
}

.st-menu .canvas-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  width: 270px;
  padding: 20px 20px;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 960px){
.canvas-bar {
  width: 350px;
  padding: 80px 40px !important;
}
} */

=======
>>>>>>> 4b2aafe8c6f914da9e8b239a92b338bb1c4d408b
