/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.menu {
  display: block;
  z-index: 999999;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li.dropdown:hover > .submenu {
  display: block;
}
.menu li span {
  display: block;
  padding: 12px 8px;
  background: #ccc;
}


.menu li span:hover {
  background: grey;
}

.menu .submenu {
  display: none;
}
.submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 200px;
  z-index: 9;
}
.submenu li {
  display: block;
}
.submenu li span{ 
  display: block;
  background: #999;
  color: #fff;
  padding: 8px 6px;
  margin-bottom: 1px;
}
.menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

.menu .submenu .submenu {
  position: absolute;
  left: 200px;
  top: 0px;
}



